html,
body {
	background: url('../image/bg.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
}
.contentwide 
{
	overflow: hidden;
	width: 100%;
	position: relative;
	margin-left: -28px;
	bottom: -10px;	
	margin-right: auto;
	display: block;
	float: left;
	text-align: left;
}

.headerwide
{
	position: relative;
	right: 0px;
	margin-right: -10px;
	margin-left: auto;
	display: block;
	text-align: right;
}

.playerwide
{
	position: relative;
	right: 0px;
	margin-right: -10px;
	margin-left: auto;
	display: block;
	text-align: right;
	top: 10px;
}

.contentmedium
{
	display: none;
}
.contentmobile
{
	display: none;
}
.headermedium
{
	display:none;
}
.playermedium
{
	display:none;
}

@media screen and (max-width: 1080px)
{
	.contentmedium
		{
			overflow: hidden;
			width: 100%;
			position: relative;
			margin-left: auto;
			bottom: -10px;	
			margin-right: auto;
			display: block;
		}

	.headermedium
		{
			position: relative;
			right: 0px;
			margin-right: -10px;
			margin-left: auto;
			display: block;
			text-align: right;
		}
	
	.playermedium
		{
			position: relative;
			right: 0px;
			margin-right: -10px;
			margin-left: auto;
			display: block;
			text-align: right;
			top: 10px;
		}
	.contentmobile
		{
			display: none;
		}
	.contentwide
		{
			display:none;
		}
	.playerwide
		{
			display:none;
		}
	.headerwide
		{
			display:none;
		}

}

@media screen and (max-width: 700px)
{
	.contentmobile
		{
		overflow: hidden;
		width: 100%;
		position: absolute;
		top: 5%;
		left: 0;
		margin-left: auto;
		margin-right: auto;
		display: block;
		}
	.contentmedium
		{
			display:none;
		}
	.contentwide
		{
			display:none;
		}
	.playerwide
		{
			display:none;
		}
	.headerwide
		{
			display:none;
		}	
	.headermedium
		{
			display:none;
		}
	.playermedium
		{
			display:none;
		}

}